In [176]:
import numpy as np
import pandas as pd

In [177]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [178]:
# Preprocess the data
data=data.drop(columns=['RowNumber','CustomerId','Surname'],axis=1)

In [179]:
# Label encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Gender']=le.fit_transform(data['Gender'])

In [180]:
#One hot encoder
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
d=ohe.fit_transform(data[['Geography']]).toarray()

In [181]:
d=pd.DataFrame(data=d,columns=ohe.get_feature_names_out())

In [182]:
d

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [183]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [184]:
a=data.iloc[:,0]
b=pd.concat([a,d],axis=1)
data=pd.concat([b,data.iloc[:,2:]],axis=1)

In [185]:
data.head()

,CreditScore,Geography_France,Geography_Germany,Geography_Spain,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,1.0,0.0,0.0,0,42,2,0.00,1,1,1,101348.88,1
1,608,0.0,0.0,1.0,0,41,1,83807.86,1,0,1,112542.58,0
2,502,1.0,0.0,0.0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,1.0,0.0,0.0,0,39,1,0.00,2,0,0,93826.63,0
4,850,0.0,0.0,1.0,0,43,2,125510.82,1,1,1,79084.10,0

In [186]:
# Split the data into features and target
x=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [187]:
x.head()

,CreditScore,Geography_France,Geography_Germany,Geography_Spain,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,619,1.0,0.0,0.0,0,42,2,0.00,1,1,1,1
1,608,0.0,0.0,1.0,0,41,1,83807.86,1,0,1,0
2,502,1.0,0.0,0.0,0,42,8,159660.80,3,1,0,1
3,699,1.0,0.0,0.0,0,39,1,0.00,2,0,0,0
4,850,0.0,0.0,1.0,0,43,2,125510.82,1,1,1,0

In [188]:
y.head()

0    101348.88
1    112542.58
2    113931.57
3     93826.63
4     79084.10
Name: EstimatedSalary, dtype: float64

In [189]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [190]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [191]:
x_train

array([[ 1.78974378, -1.00551521,  1.73436329, ...,  0.64007158,
         0.97530483, -0.502928  ],
       [ 0.26040483, -1.00551521, -0.57658047, ...,  0.64007158,
         0.97530483, -0.502928  ],
       [-0.22526362, -1.00551521, -0.57658047, ...,  0.64007158,
        -1.02532046, -0.502928  ],
       ...,
       [-1.97160337, -1.00551521,  1.73436329, ...,  0.64007158,
        -1.02532046,  1.9883562 ],
       [ 0.60140608,  0.99451504, -0.57658047, ...,  0.64007158,
        -1.02532046, -0.502928  ],
       [ 0.21907135, -1.00551521,  1.73436329, ...,  0.64007158,
        -1.02532046,  1.9883562 ]])

In [192]:
x_test

array([[ 2.05841144, -1.00551521,  1.73436329, ..., -1.56232526,
         0.97530483, -0.502928  ],
       [ 0.91140722, -1.00551521, -0.57658047, ...,  0.64007158,
        -1.02532046, -0.502928  ],
       [ 0.39473866, -1.00551521, -0.57658047, ...,  0.64007158,
        -1.02532046,  1.9883562 ],
       ...,
       [-0.8452659 , -1.00551521, -0.57658047, ...,  0.64007158,
        -1.02532046,  1.9883562 ],
       [-1.47560155,  0.99451504, -0.57658047, ...,  0.64007158,
         0.97530483, -0.502928  ],
       [ 0.04340403, -1.00551521, -0.57658047, ..., -1.56232526,
         0.97530483,  1.9883562 ]])

In [193]:
import pickle
with open('Label_encoder.pkl','wb') as file:
    pickle.dump(le,file)

with open('onehotencoder.pkl','wb') as file:
    pickle.dump(ohe,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN Regression Problem Statement

In [194]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [195]:
model=Sequential([
    Dense(128,activation='relu',input_shape=(x_test.shape[1],)),
    Dense(64,activation='relu'),
    Dense(1)   #When no activation function is applied, it defaults to using a linear activation function, which is meant for regression.
])

C:\Users\vishn\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [196]:
model.compile(optimizer='Adam',loss='mean_absolute_error',metrics=['mae'])

In [197]:
model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_15 (Dense)                │ (None, 128)            │         1,664 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_16 (Dense)                │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 1)              │            65 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 9,985 (39.00 KB)

 Trainable params: 9,985 (39.00 KB)

 Non-trainable params: 0 (0.00 B)

In [198]:
from tensorflow.keras.callbacks import EarlyStopping
early_stop=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [199]:
history=model.fit(
    x_train,y_train,
    validation_data=(x_test,y_test),
    epochs=100,
    callbacks=[early_stop]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 99267.8281 - mae: 99267.8281 - val_loss: 99075.7031 - val_mae: 99075.7031
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 97178.1094 - mae: 97178.1094 - val_loss: 93029.1562 - val_mae: 93029.1562
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 90614.1641 - mae: 90614.1641 - val_loss: 79935.4766 - val_mae: 79935.4766
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 75441.3906 - mae: 75441.3906 - val_loss: 64786.8477 - val_mae: 64786.8477
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 62608.7734 - mae: 62608.7734 - val_loss: 54820.1875 - val_mae: 54820.1875
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 53828.8789 - mae: 53828.8789 - val_loss: 51351.3984 - val_mae: 51351.3984
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 957us/step - loss: 50446.0664 - mae: 50446.0664 - val_loss: 50589.1523 - val_mae: 50589.1523
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50152.7344 - mae: 50152.7344 - val_loss: 50455.1602 - val_mae: 50455.1602
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49848.2383 - mae: 49848.2383 - val_loss: 50383.8008 - val_mae: 50383.8008
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50169.0312 - mae: 50169.0312 - val_loss: 50340.4805 - val_mae: 50340.4805
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50457.4141 - mae: 50457.4141 - val_loss: 50307.4062 - val_mae: 50307.4062
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 964us/step - loss: 49915.1719 - mae: 49915.1719 - val_loss: 50282.4297 - val_mae: 50282.4297
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 935us/step - loss: 49775.1953 - mae: 49775.1953 - val_loss: 50264.2656 - val_mae: 50264.2656
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 937us/step - loss: 50092.4180 - mae: 50092.4180 - val_loss: 50244.7344 - val_mae: 50244.7344
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 941us/step - loss: 49962.9453 - mae: 49962.9453 - val_loss: 50232.2266 - val_mae: 50232.2266
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 999us/step - loss: 49284.3594 - mae: 49284.3594 - val_loss: 50220.0742 - val_mae: 50220.0742
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49952.5391 - mae: 49952.5391 - val_loss: 50202.1602 - val_mae: 50202.1602
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 946us/step - loss: 49748.8828 - mae: 49748.8828 - val_loss: 50200.1914 - val_mae: 50200.1914
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 978us/step - loss: 49479.9492 - mae: 49479.9492 - val_loss: 50193.6953 - val_mae: 50193.6953
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48899.3320 - mae: 48899.3320 - val_loss: 50186.3398 - val_mae: 50186.3398
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50371.5469 - mae: 50371.5469 - val_loss: 50164.6484 - val_mae: 50164.6484
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 972us/step - loss: 49454.6797 - mae: 49454.6797 - val_loss: 50150.6094 - val_mae: 50150.6094
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49627.9609 - mae: 49627.9609 - val_loss: 50142.5508 - val_mae: 50142.5508
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49803.8633 - mae: 49803.8633 - val_loss: 50140.2109 - val_mae: 50140.2109
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 914us/step - loss: 49662.1680 - mae: 49662.1680 - val_loss: 50130.5742 - val_mae: 50130.5742
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 985us/step - loss: 49385.2734 - mae: 49385.2734 - val_loss: 50134.9961 - val_mae: 50134.9961
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49102.4766 - mae: 49102.4766 - val_loss: 50137.4141 - val_mae: 50137.4141
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49837.5898 - mae: 49837.5898 - val_loss: 50120.2852 - val_mae: 50120.2852
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 985us/step - loss: 49628.3203 - mae: 49628.3203 - val_loss: 50119.2539 - val_mae: 50119.2539
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 985us/step - loss: 49197.0508 - mae: 49197.0508 - val_loss: 50110.9961 - val_mae: 50110.9961
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 989us/step - loss: 49458.3945 - mae: 49458.3945 - val_loss: 50108.6875 - val_mae: 50108.6875
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 998us/step - loss: 49711.8828 - mae: 49711.8828 - val_loss: 50096.6562 - val_mae: 50096.6562
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50166.1914 - mae: 50166.1914 - val_loss: 50093.8594 - val_mae: 50093.8594
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 928us/step - loss: 49575.2969 - mae: 49575.2969 - val_loss: 50085.4766 - val_mae: 50085.4766
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 975us/step - loss: 50105.5078 - mae: 50105.5078 - val_loss: 50078.3398 - val_mae: 50078.3398
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49553.5117 - mae: 49553.5117 - val_loss: 50082.0273 - val_mae: 50082.0273
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48958.3516 - mae: 48958.3516 - val_loss: 50071.0156 - val_mae: 50071.0156
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49270.6133 - mae: 49270.6133 - val_loss: 50081.6523 - val_mae: 50081.6523
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49381.6094 - mae: 49381.6094 - val_loss: 50078.2734 - val_mae: 50078.2734
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 954us/step - loss: 49337.2461 - mae: 49337.2461 - val_loss: 50071.6914 - val_mae: 50071.6914
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 996us/step - loss: 48724.9805 - mae: 48724.9805 - val_loss: 50065.5898 - val_mae: 50065.5898
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49311.8594 - mae: 49311.8594 - val_loss: 50063.4922 - val_mae: 50063.4922
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49686.7734 - mae: 49686.7734 - val_loss: 50072.5039 - val_mae: 50072.5039
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 954us/step - loss: 49457.8984 - mae: 49457.8984 - val_loss: 50070.4219 - val_mae: 50070.4219
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 976us/step - loss: 49105.8633 - mae: 49105.8633 - val_loss: 50070.9375 - val_mae: 50070.9375
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 995us/step - loss: 49579.2891 - mae: 49579.2891 - val_loss: 50070.7461 - val_mae: 50070.7461
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 987us/step - loss: 49068.7188 - mae: 49068.7188 - val_loss: 50063.0703 - val_mae: 50063.0703
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49290.3203 - mae: 49290.3203 - val_loss: 50063.0391 - val_mae: 50063.0391
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 995us/step - loss: 49079.0625 - mae: 49079.0625 - val_loss: 50053.9805 - val_mae: 50053.9805
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 954us/step - loss: 48916.9688 - mae: 48916.9688 - val_loss: 50066.3438 - val_mae: 50066.3438
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 998us/step - loss: 49309.4961 - mae: 49309.4961 - val_loss: 50057.4297 - val_mae: 50057.4297
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50083.8789 - mae: 50083.8789 - val_loss: 50059.8711 - val_mae: 50059.8711
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 927us/step - loss: 50175.6914 - mae: 50175.6914 - val_loss: 50052.8164 - val_mae: 50052.8164
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48723.6133 - mae: 48723.6133 - val_loss: 50059.4453 - val_mae: 50059.4453
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49017.0039 - mae: 49017.0039 - val_loss: 50048.3359 - val_mae: 50048.3359
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 928us/step - loss: 49360.6875 - mae: 49360.6875 - val_loss: 50043.8203 - val_mae: 50043.8203
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49809.8828 - mae: 49809.8828 - val_loss: 50057.6758 - val_mae: 50057.6758
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49000.9375 - mae: 49000.9375 - val_loss: 50056.0117 - val_mae: 50056.0117
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48972.8398 - mae: 48972.8398 - val_loss: 50043.3867 - val_mae: 50043.3867
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49406.2109 - mae: 49406.2109 - val_loss: 50050.6250 - val_mae: 50050.6250
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49558.5352 - mae: 49558.5352 - val_loss: 50046.5273 - val_mae: 50046.5273
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - loss: 48872.1719 - mae: 48872.1719 - val_loss: 50043.2383 - val_mae: 50043.2383
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 978us/step - loss: 49535.3281 - mae: 49535.3281 - val_loss: 50047.3945 - val_mae: 50047.3945
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49131.1406 - mae: 49131.1406 - val_loss: 50050.6328 - val_mae: 50050.6328
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 931us/step - loss: 49498.0586 - mae: 49498.0586 - val_loss: 50051.7695 - val_mae: 50051.7695
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49108.6992 - mae: 49108.6992 - val_loss: 50050.7734 - val_mae: 50050.7734
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 949us/step - loss: 49429.6641 - mae: 49429.6641 - val_loss: 50047.7969 - val_mae: 50047.7969
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49278.5352 - mae: 49278.5352 - val_loss: 50037.1875 - val_mae: 50037.1875
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 932us/step - loss: 49786.6992 - mae: 49786.6992 - val_loss: 50051.9766 - val_mae: 50051.9766
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49783.5078 - mae: 49783.5078 - val_loss: 50050.5352 - val_mae: 50050.5352
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49354.0977 - mae: 49354.0977 - val_loss: 50056.3008 - val_mae: 50056.3008
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49117.6367 - mae: 49117.6367 - val_loss: 50060.0430 - val_mae: 50060.0430
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49576.5977 - mae: 49576.5977 - val_loss: 50051.9570 - val_mae: 50051.9570
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49244.3164 - mae: 49244.3164 - val_loss: 50049.0234 - val_mae: 50049.0234
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49112.0938 - mae: 49112.0938 - val_loss: 50051.8086 - val_mae: 50051.8086
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 963us/step - loss: 49063.2891 - mae: 49063.2891 - val_loss: 50055.2305 - val_mae: 50055.2305
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 901us/step - loss: 48958.2109 - mae: 48958.2109 - val_loss: 50045.8281 - val_mae: 50045.8281
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48829.8086 - mae: 48829.8086 - val_loss: 50043.8789 - val_mae: 50043.8789

In [200]:
test_loss,test_mae=model.evaluate(x_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 642us/step - loss: 49679.6172 - mae: 49679.6172

In [201]:
test_loss

50037.1875

In [202]:
test_mae

50037.1875

In [203]:
model.save("Regression.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.